#about {

  background: #436a16;

  .container-fluid {
    max-width: 1920px;
    .portfolio-box {
      position: relative;
      display: block;
      height: 100%;
      .portfolio-box-caption {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        width: 100%;
        height: 100%;

        padding: 0 3%;

        position: absolute;
        bottom: 0;

        text-align: center;

        color: $white;
        background: fade-out($primary, .1);
        transition: opacity 0.25s ease;

        font-size: 0.95em;

        img {
          margin-top: 3%;
        }
      }
    }
  }

}
