// Styling for the masthead
header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - #{$navbar-height});
  // replace the masthead.jpg image in the /img directory to change the image
  // if the image name change, make sure to update the url path below!
  //background: linear-gradient(to bottom, #{fade-out($gray-800, .4)} 0%,#{fade-out($gray-800, .4)} 100%), url('../img/bg-main.jpg');
  background: url('../img/bg-main.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  h1 {
    font-size: 2.25rem;
    padding-top: 0.45em
  }
  .h-70 {
    height: 70% !important;
  }
  .btn {
    box-shadow: 0px 0px 15px #000;
  }
  @include media-breakpoint-up(lg) {
    height: 100vh;
    min-height: 40rem;
    padding-top: $navbar-height;
    padding-bottom: 0;
    p {
      font-size: 1.30rem;
    }
    h1 {
      font-size: 3rem;
    }
  }
  @include media-breakpoint-up(xl) {
    h1 {
      font-size: 3.5rem;
    }
  }
}
