#seminaire {

  .portfolio-box {
    position: relative;
    display: block;

    .portfolio-box-caption {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      width: 100%;
      height: 20%;

      position: absolute;
      bottom: 0;

      text-align: center;

      color: $white;
      background: fade-out($primary, .3);
      transition: opacity 0.25s ease;

      .project-name {
        font-size: 0.85rem;
      }

      @include media-breakpoint-up(lg) {
        .project-name {
          font-size: 0.95rem;
        }
      }

    }
  }

}