#tarifs {

  h3 {
    font-size: 1.45em;
  }

  .table {
    font-size: 0.80rem;

    @include media-breakpoint-up(lg) {
      font-size: 0.95rem;
    }
  }

  .tarif-info {
    font-size: 0.9em;
  }

  .list-group li {
    font-size: .78em;
  }

  .list-group li:first-child {
    border-top: none
  }

}