* {margin:0; padding:0}
html {font-family: sans-serif; font-size: 12px; background: #e3e2de; color: #1c1c1c;}
.wrapper {width: 1024px; margin: 0 auto; position: relative}
a {text-decoration: none; color: #1c1c1c;}

/********** MENU **********/
#menu {height: 100px; background: -moz-linear-gradient(top, #5e534d, #554c47); border-bottom: 1px solid #f7f7f5; margin-bottom: 10px}
#menu .wrapper {height: 100%}
#menu h1 {color: #eeebe6; font-size: 20px; display: inline-block; position: absolute; top: 15px; left: 15px}
#menu_name {color: #eeebe6; font-size: 14px; display:block; position: absolute; top: 15px; right: 15px}

#menu ul {display: block; height: 41px; position: absolute; bottom: 0;}
#menu ul li {display: block; width: 128px; float: left; margin-right: 5px; height: 40px; line-height: 40px; background: #c8c7c5; border: 1px solid #f7f7f7;  background-position: 8px 8px; background-repeat: no-repeat}
#menu ul li a {display: block; height: 100%; padding-left: 40px}
#menu ul li.on, #menu ul li:hover {background-color: #e3e2de; border-bottom: 1px solid #e3e2de; border-top: 1px solid #f7f7f7; border-left: 1px solid #f7f7f7; border-right: 1px solid #f7f7f7;}

#menu ul li.accueil {background-image: url(backoffice/ic_home.png);}
#menu ul li.clients {background-image: url(backoffice/ic_clients.png);}
#menu ul li.reserva {background-image: url(backoffice/ic_resa.png);}
#menu ul li.plannin {background-image: url(backoffice/ic_planning.png);}
#menu ul li.param   {background-image: url(backoffice/ic_param.png);}
#menu ul li.logout  {background-image: url(backoffice/ic_logout.png); width: 40px;}

/********** COMMUN **********/
h2 {background: #c6c5c3; font-size: 14px; font-weight: normal; padding: 4px 6px}
h3 {font-size: 14px; font-weight: normal; line-height: 16px; border-bottom: 1px solid #c8c3bf; margin: 15px 0 10px; padding: 0 6px}

a.bouton, input[type="submit"] {border: 1px solid #f7f7f5; background: #c6c5c3; padding: 4px 6px; display: inline-block; margin: 4px 6px; border-radius: 3px; cursor: pointer}
a.bouton:hover, input[type="submit"]:hover {border: 1px solid #c6c5c3; background: #f7f7f5;}

a.bouton.add {background-image: url(icones/ajout.png); background-position: 4px 3px; background-repeat: no-repeat; padding-left: 25px !important}

form {display: block; margin: 6px}
form label {display: block}
form input[type="text"] {border: 1px solid #c8c3bf; border-radius: 3px; padding: 2px; margin: 3px 0; background-color: #f2f2f2; width: 50%; }
form .error {color: #ff220f}

form.filtre label {display: inline; margin-right: 5px}
form.filtre input[type="text"], form.filtre select {margin-right: 15px}

/********** NAVIGATION **********/
#navigation {border: 1px solid #c8c3bf; float: left; width: 250px; padding: 1px; }
#navigation ul {list-style-type: none; display: block; width: 90%; margin: 0 auto}
#navigation ul li {border-top : 1px solid #c6c5c3; line-height: 25px;}
#navigation ul li:first-child {border: none}
#navigation ul li a {display: block; width: 90%; margin: 0 auto; outline: none;}
#navigation ul li a:hover {text-decoration: underline}
#navigation ul li.actif a {font-weight: bold}
#navigation ul li img {position: absolute; left: 3%}
#navigation ul li img.handle {top: 8px;}

/********** CONTENU **********/
#contenu {float: right; width: 760px; border: 1px solid #c8c3bf; padding: 1px;}

#contenu a {padding-left: 6px;}
#contenu a:hover {text-decoration: underline}

#contenu ul {list-style-type: none; display: block; margin-left: 6px; padding: 3px 0}
#contenu ul li {border-top : 1px solid #c6c5c3; line-height: 25px;}
#contenu ul li:first-child {border: none}
#contenu ul li a {display: inline-block; outline: none;}
#contenu ul li a:hover {text-decoration: underline}
#contenu ul li.actif a {font-weight: bold}
#contenu ul li img.handle {margin-right: 4px; cursor: move}
#contenu ul li img.clic {margin-right: 4px; cursor: pointer; }
#contenu ul li img {position: relative; top: 2px}
#contenu ul li span {float: right;}

span.lab, span.inf {display: inline-block; padding-left: 6px; line-height: 16px}
span.lab {width: 120px; vertical-align: top}
span.sep {height: 10px}

/********** PLANNING **********/

.wpl {border: 1px solid #c8c3bf; margin-bottom: 10px; padding: 0px;}
.wpl h2 {text-align: center; font-weight: bold; margin: 1px 1px 5px 1px}

.wpl_ligne {height: 25px;}

.wpl_chambre, .wpl_day {display: inline-block; height: 24px; line-height: 24px; float: left;}
.wpl_chambre {width: 244px; padding-left: 3px}
.wpl_day {width: 24px; text-align: center}

.wpl_resa {background: #ccc}
.wpl_resa.red {background: #fb5e5e}
.wpl_resa.green {background: #4dd289}

.wpl .b_top		{border-top: 1px solid #c8c3bf;}
.wpl .b_bottom {border-bottom: 1px solid #c8c3bf;}
.wpl .b_left	{border-left: 1px solid #c8c3bf;}
.wpl .b_right	{border-right: 1px solid #c8c3bf;}

/********** POPIN **********/

.layer {display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%;}

.popinfo .popinfoContenu {background: #fff; border: 1px solid #ccc;}
.popinfo .popinfoContenu a {color: #000}
.popinfo .popinfoContenu a.close {display: block; position: absolute; right: 10px; width: 18px; height: 18px; background: url(icones/suppr.png) 0 0 no-repeat;}
.popinfo .popinfoContenu a.close:hover {cursor:pointer}
.popinfo .popinfoContenu span {display: block; color: #000;}
.popinfo .popinfoContenu .objet {font-weight: bold; padding: 6px 0}
.popinfo .popinfoContenu .send_alerte {text-decoration: underline; margin-top: 4px; outline: none}
.popinfo .popinfoContenu .boutons {margin-top: 15px; padding-top: 5px; height: 20px; border-top: 1px solid #ccc; clear: both}
.popinfo .popinfoContenu .boutons a {display: inline-block; line-height: 20px; color: #345cd9 !important; text-decoration: none}
.popinfo .popinfoContenu .boutons a:hover {text-decoration: underline}
.popinfo .popinfoContenu .boutons .modif {float: right; font-weight: bold}
.popinfo .popinfoArrow {height: 8px; background: url('icones/arrow_down.png') top center no-repeat; margin-top: -1px}


















