@charset "UTF-8";
* {margin:0; padding: 0}
html {font-family: sans, verdana, arial; font-size: 12px; background: #fff; color: #1c1c1b; height: 100%;  overflow: hidden; -webkit-overflow-scrolling: touch}
body {height: 100%; background-color: #9cabc5}

a {color: #fff; text-decoration: none; outline: none;}
ul, li {display: block; list-style: none outside none;}

sup {font-size: 8px}

.innerWrapper {width: 1133px; margin: 0 auto; position: relative; height: 100%}

.corner {border-radius: 3px;}
.corner-top {border-radius: 3px 3px 0 0;}
.corner-bottom {border-radius: 0 0 3px 3px;}
.shadow {-moz-box-shadow: 0px 1px 5px 0px #4a4a4a; -webkit-box-shadow: 0px 1px 5px 0px #4a4a4a; box-shadow: 0px 1px 5px 0px #4a4a4a;}

.scrollDetectMiddle {background:transparent;position:absolute;top:60%;left:0;width:10px;height:10px;z-index:1999999}

h1.center {display: block; position: absolute; top: 30%; left: 0; width: 100%; text-align: center; height: 60px; color: #fff; font-size: 850%; text-shadow: 0 0 25px #000; font-style: italic}
h1 span {color: #80cc28}

/* ==== HEADER + FOOTER ===== */
#header, #footer {background-color: rgba(19, 19, 19, 0.8); position: absolute; left:0; z-index: 8888; width: 100%;}

#header {top: 0; height: 85px; overflow: hidden;}
#header #logo {display: block; width: 30%; height: 36px; margin-top: 10px;}
#header #logo span {font-family: sans; font-size: 270%; border-bottom: 1px solid red}
#header #logo span font {color: red}
#header #coo {position: absolute; right: 0; top: 10px; color: #fff; font-family: sans; text-align: center; line-height: 20px; font-size: 1.25em}
#header #coo font {color: #80cc28}
#header #login {position: absolute; top: -25px; right: 0; width: 160px; background: #fff; height: 18px; line-height: 18px; font-size: 90%; text-align: center}
#header #nav {margin-top: 15px}
#header #nav ul {display: block; width: 100%}
#header #nav ul li {float: left; width: 15%; margin-right: 1%}
#header #nav ul li a {display: block; font-size: 106%; font-weight: bold; outline: none}
#header #nav ul li div {padding-left: 17px; margin-top: 15px; color: #fff}

#footer {height: 55px; position: fixed; bottom: 0;}
#footer .foot-infos {position: absolute; top: 0; left: 0; width: 62%; height: 100%;  z-index: 9999}
#footer .picto {display: inline-block; width: 55px; height: 55px; margin: 0 2%;}

#footer #cle_vacances {display: inline-block; width: 136px; height: 100%; background: url(wah/wah-sprite.png) 0 -250px no-repeat; margin-right: 125px}

#footer #text-next {position: absolute; bottom: 0; right: 0; width: 720px; z-index: 8888}
#footer #text {background-color: rgba(255, 255, 255, 0.9); padding: 0 4px 4px 4px; margin-bottom: 8px; text-align: justify}
#footer #text-next p {font-size: 108%; padding-top: 5px}
#footer #text-next p span {font-weight: bold}
#footer #text-next p .saut {line-height: 30px;}
#footer #next {background-color: rgba(255, 255, 255, 0.3); height: 55px; width: 320px; margin: 0 auto; float: right; margin: 0}
#footer #next a {background: url(wah/wah-sprite.png) 0 -30px  no-repeat; display: inline-block; font-size: 140%; line-height: 43px; margin: 6px 0 0 35%; padding-left: 55px; width: 40%;}
#footer #next a:hover {background-position: 0 -77px}
#footer #next a.retour {background-position: 0 -125px}

.popinfo {position: relative}
.popinfo a.close {display: block; position: absolute; right: 0; width: 18px; height: 18px; background: url(icones/suppr.png) 0 0 no-repeat;}
.popinfo a.close:hover {cursor:pointer}
.popinfo .popinfoContenu {background: #fff; border: 1px solid #ccc; padding: 15px; font-size: 14px; text-align: center}
.popinfo .popinfoContenu a {color: #000}
.popinfo .popinfoContenu span {}
.popinfo .popinfoArrow {height: 8px; background: url('icones/arrow_down.png') top center no-repeat; margin-top: -1px}

.zoom {display: block; position: absolute; bottom: 4px; right: 4px; background-color: rgba(255, 255, 255, 0.9); width: 20px; height: 20px}
 
/* ==== TOPICS ===== */
#topics {position: absolute; top: 0; left:0; width: 100%; height: 100%;}
#topics li {height: 120%; min-height: 120%; position: relative}

/* ==== ACCUEIL ===== */
#accueil {background-image: url(wah/spider.png);}
#accueil h1 {top: 16%; font-size: 550%}
#accueil .copy_wraper {height: 40%; top: 30%; width: 85%;}
#accueil .copy_wraper .room {width: 31%}
#accueil .copy_wraper .room img {width: 100%}
#accueil .copy_wraper .room p {width: 100%; height: 74%; padding-top: 8%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
#accueil .shadow {margin-top : 0}
#accueil .shadow span {font-weight: bold}

/* ==== LES APPARTS ===== */
#apparts h1 {top: 12%; font-size: 720%}

.carous {height: 100%; width: 100%; overflow: hidden;}
.carous .carouswrapper {height: 100%; width: 10000px; position: relative; left: 0}
.carous .slide {height: 100%; float: left; position: relative;}

#one {background-image: url(wah/spider.png);}
#two {background-image: url(wah/spider.png);}
#three {background-image: url(wah/spider.png);}

.copy_wraper {height: 28%; margin: 0 auto; position: relative; top: 26%; width: 1133px;}
.copy_wraper .room {width: 30%; height: 100%; float: left; margin: 0 1%; text-align: center}
.copy_wraper .room h2 {text-shadow: 0 0 20px black; color: #fff; font-size: 130%;}
.copy_wraper .room p {display: block; width: 338px; height: 222px; background: #393536; margin-top: 19px; color: #fff; padding: 6px}

.copy_wraper .image {width: 30%; margin: 0 10px 10px; height: 48%; float: left; overflow: hidden}
.copy_wraper .image a {display: block; height: 100%; width: 100%; position: relative}
.copy_wraper .image:hover, .slideto img:hover, .activite:hover {-moz-box-shadow: 0px 1px 10px 0px #000; -webkit-box-shadow: 0px 1px 10px 0px #000; box-shadow: 0px 1px 10px 0px #000;}
.copy_wraper .image img {}

.slidenext, .slideprev {display: block; position: absolute; width: 40px; height: 40px; margin-top: -20px; top: 40%;}
.slidenext {right: 5px; background: url(wah/wah-sprite.png) -295px -30px no-repeat}
.slideprev {left: 5px; background: url(wah/wah-sprite.png) -250px -30px no-repeat}
.slidenext:hover {background-position: -295px -80px}
.slideprev:hover {background-position: -250px -80px}

/* ==== LES SERVICES ===== */
#services {background-image: url(wah/spider.png);}
#services h1 {top: 12%; font-size: 600%}

.service_wraper {height: 234px; margin: 0 auto; top: 26%; width: 1133px; position: relative;}
.service_wraper .sep {float: left; height: 100%; width: 41px}
.service_wraper .activite {width: 330px; height: 220px; float: left; margin: 0; text-align: center; position: relative; overflow: hidden}
.service_wraper .activite .switch {width: 200%; height: 100%; position: absolute; top: 0; left: 0}
.service_wraper .activite .switch:hover {cursor: pointer}
.service_wraper .activite .ico_next {display: block; position: absolute; bottom: 4px; right: 4px; width: 20px; height: 20px; background: url(wah/wah-sprite.png) -317px -138px no-repeat}
.service_wraper .activite .recto {position:absolute; top: 0; left:0; width:50%; height:100%; background: #6f6e69;}
.service_wraper .activite .recto .legende {position: absolute; bottom: 0; left: 0; width: 98%; padding: 3px 1%; height: 24px; line-height: 24px; background: #000; opacity: 0.7; color: #fff; font-weight: bold; font-size: 11px !important}
.service_wraper .activite .verso {position:absolute; top: 0; right: 0; width:46%; height:96%; background: #393536; color: #fff; padding: 2%; font-style: italic}
.service_wraper .activite .verso h2 {text-align: center; padding: 4px 0 10px;}
.service_wraper .activite .verso p {line-height: 18px; font-size: 14px}

.infos {position: relative; top: 27%; width: 1133px; margin: 0 auto; text-align: center; color: #fff; font-size: 135%; text-shadow: 0 0 25px #000;}

/* ==== RESERVATIONS ===== */
#reservations {background-image: url(wah/spider.png);}
#reservations h1 {top: 13%; font-size: 700%}

#reservations h2 {text-align: center; font-style: italic; padding: 6px 0}
#reservations .tarifs {width: 60%; margin: 0 auto; height: 305px; background-color: rgba(255, 255, 255, 0.9)}
#reservations .tarifs table {border-collapse: collapse; width: 95%; margin: 5px auto}
#reservations .tarifs table td {text-align: center; border: 1px solid #ccc; line-height: 20px}
#reservations .tarifs table tr.first td {font-weight: bold; line-height: 14px}
#reservations .tarifs table td.prix {width: 20%}
#reservations .tarifs p {display: block; width: 95%; margin: 10px auto 0; font-size: 100%}
#reservations .tarifs p.etoile {font-style: italic}
#reservations .tarifs p .pets {float: right; font-weight: bold}

#reservations .resainfos {width: 49%; height: 260px; float: left; background-color: rgba(255, 255, 255, 0.9)}
#reservations .resainfos.small {float: right}
#reservations .resainfos p {padding: 6px; text-align: justify; font-size: 120%}
#reservations .resainfos p span {color: rgba(128, 204, 40, 1)}
#reservations .resainfos .sep-h {height: 12px}

.resa_accueil {width: 30%; height: 100%; float: left; margin: 1%; text-align: center; background: #6f6e69; position: relative}
.resa_accueil:first-child {margin-left: 3%}
.resa_accueil a {display: block; height: 100%; width: 100%}
.resa_accueil a:hover span {text-decoration: underline}
.resa_accueil a span {display: block; position: absolute; top: 50%; left: 0; margin-top: -15px; line-height: 30px; font-size: 150%; color: #fff; text-align: center; width: 100%}
.resa_accueil:hover {-moz-box-shadow: 0px 1px 10px 0px #000; -webkit-box-shadow: 0px 1px 10px 0px #000; box-shadow: 0px 1px 10px 0px #000;}

.resa_num {background-color: rgba(128, 204, 40, 0.9); color: #000; text-align: center; font-weight: bold; margin-top: 1% !important; font-size: 150%;}
.resa_num p {display: block; height: 120px; position: absolute; top: 50%; left: 0; margin-top: -85px}
.resa_num span {color: #fff; text-shadow: 0 0 12px #000; font-size: 180%}
.resa_num a {text-decoration: underline; font-size: 180%; text-shadow: 0 0 12px #000;}

/* ==== LES LOISIRS ===== */
#loisirs {background-image: url(wah/spider.png);}
#loisirs h1 {top: 12%; font-size: 720%}

/* ==== SEMINAIRES ===== */
#seminaires {background-image: url(wah/spider.png);}
#seminaires h1 {top: 12%; font-size: 720%}

/* ==== CONTACT ===== */
#contact {background-image: url(wah/spider.png);}
#contact h1 {top: 12%; font-size: 720%}

#contact h2 {text-align: center; font-style: italic; margin: 2px 0 3px 0}

#contact #plan {text-align: center; position: absolute; top: 26%; background: #fff; padding: 5px; width: 45%; height: 35%; min-height: 280px}
#contact #plan a {position: relative; color: #000}
#contact #plan img.pl {height: 65%}
#contact #plan p {font-style: italic; padding: 4px 0}

#contact_form {position: absolute; top: 26%; right: 0; background: #fff url(wah/loading.gif) center no-repeat; padding: 5px; width: 45%; height: 35%; min-height: 280px} 
#contact_form form {background: #fff}
#contact_form .field {margin: 4px 0}
#contact_form label {display: inline-block; width: 17%; font-size: 100%}

#contact_form input[type="text"], #contact_form textarea {width: 50%; border: 1px solid #d9d9d9; padding: 3px; font-size: 12px;}
#contact_form input[type="text"]:hover, #contact_form textarea:hover {box-shadow: 0 1px 2px #eee inset}
#contact_form input[type="text"]:focus, #contact_form textarea:focus {box-shadow: 0 1px 2px #eee inset; border-color: #63abc7}
#contact_form textarea {height: 60px; vertical-align: top;}
#contact_form p {font-style: italic; font-size: 90%; margin: 2px 0 0 0}
#contact_form .error {display: inline-block; font-size: 10px; color: red; width: 27%; margin-left: 3px}
#contact_form .submit {width: 68%; text-align: right; padding: 3px}
#contact_form input[type="submit"] {}

#contact_form .confirm {display: block; width: 100%; height: 100%; background: #fff; position: relative}
#contact_form .confirm div {width: 300px; height: 90px; position: absolute; top: 50%; left: 50%; margin: -45px 0 0 -150px; text-align: justify; font-size: 13px}
#contact_form .confirm div img {float: left; margin-right: 8px;}

/* ==== MEDIA QUERY ===== */
@media screen and (max-width: 1133px)
{
	.innerWrapper, .copy_wraper, .service_wraper {width: 946px;}
	#header #nav ul li a {font-size: 95%;}
	#footer #cle_vacances {margin-right: 40px}
	#footer #next {}
	#footer #text {margin-bottom: 8px}
	#footer #text-next {width: 700px; font-size: 11px}
	#topics h1 {font-size: 70px}
	#services h1 {font-size: 45px}
	
	.copy_wraper, .service_wraper {top: 210px;}
	.copy_wraper .room {}
	.copy_wraper .room p {width: 100%; height: 155px; font-size: 9px; margin-top: 21px}
	.copy_wraper .room img {width: 250px; height: 167px}
	
	.service_wraper .sep {width: 20px}
	.service_wraper .activite {width: 300px; height: 200px;}
	.service_wraper .activite .recto .legende {font-size: 8px}
	.service_wraper .activite .verso p {font-size: 10px; line-height: 16px; }
	.service_wraper .activite .verso li {font-size: 10px;}
	
	.resa_num {font-size: 120%}
	.resa_num span {font-size: 150%}
	
	#reservations .tarifs p, #reservations .tarifs table {font-size: 10px}
	#reservations .tarifs {height: 310px}
	#reservations .tarifs p {margin: 3px auto 0}
	#reservations .resainfos p {font-size: 90%}
	
	#contact #plan img.pl {height: 250px}
	#contact #plan p a {color: #000}
	#contact #plan, #contact_form {height: 44%}
	#contact_form label {width: 18%;}
}


/* ====  fancyBox v2.0.6 fancyapps.com | fancyapps.com/fancybox/#license ===== */
.fancybox-tmp iframe, .fancybox-tmp object {vertical-align: top;padding: 0;margin: 0;}
.fancybox-wrap {position: absolute;top: 0;left: 0;z-index: 9920;}
.fancybox-skin {position: relative;padding: 0;margin: 0;background: #f9f9f9;color: #444;text-shadow: none;-webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;}
.fancybox-opened {z-index: 9930;}
.fancybox-opened .fancybox-skin {-webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);   -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5); box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);}
.fancybox-outer, .fancybox-inner {padding: 0;margin: 0;position: relative;outline: none;}
.fancybox-inner {overflow: hidden;}
.fancybox-type-iframe .fancybox-inner {-webkit-overflow-scrolling: touch;}
.fancybox-error {color: #444;font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;margin: 0;padding: 10px;}
.fancybox-image, .fancybox-iframe {display: block;width: 100%;height: 100%;border: 0;padding: 0;margin: 0;vertical-align: top;}
.fancybox-image {max-width: 100%;max-height: 100%;}
#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {background-image: url('wah/fancybox_sprite.png');}
#fancybox-loading {position: fixed;top: 50%;left: 50%;margin-top: -22px;margin-left: -22px;background-position: 0 -108px;opacity: 0.8;cursor: pointer;z-index: 9920;}
#fancybox-loading div {width: 44px;height: 44px;background: url('wah/fancybox_loading.gif') center center no-repeat;}
.fancybox-close {position: absolute;top: -18px;right: -18px;width: 36px;height: 36px;cursor: pointer;z-index: 9940;}
.fancybox-nav {position: absolute;top: 0;width: 40%;height: 100%;cursor: pointer;background: transparent url('wah/blank.gif'); /* helps IE */-webkit-tap-highlight-color: rgba(0,0,0,0);z-index: 9940;}
.fancybox-prev {left: 0;}
.fancybox-next {right: 0;}
.fancybox-nav span {position: absolute;top: 50%;width: 36px;height: 34px;margin-top: -18px;cursor: pointer;z-index: 9940;visibility: hidden;}
.fancybox-prev span {left: 20px;background-position: 0 -36px;}
.fancybox-next span {right: 20px;background-position: 0 -72px;}
.fancybox-nav:hover span {visibility: visible;}
.fancybox-tmp {position: absolute;top: -9999px;left: -9999px;padding: 0;overflow: visible;visibility: hidden;}
/* Overlay helper */#fancybox-overlay {position: absolute;top: 0;left: 0;overflow: hidden;display: none;z-index: 9910;background: #000;}
#fancybox-overlay.overlay-fixed {position: fixed;bottom: 0;right: 0;}
/* Title helper */.fancybox-title {visibility: hidden;font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;position: relative;text-shadow: none;z-index: 9950;}
.fancybox-opened .fancybox-title {visibility: visible;}
.fancybox-title-float-wrap {position: absolute;bottom: 0;right: 50%;margin-bottom: -35px;z-index: 9930;text-align: center;}
.fancybox-title-float-wrap .child {display: inline-block;margin-right: -100%;padding: 2px 20px;background: transparent; /* Fallback for web browsers that doesn't support RGBa */background: rgba(0, 0, 0, 0.8);-webkit-border-radius: 15px;-moz-border-radius: 15px;border-radius: 15px;text-shadow: 0 1px 2px #222;color: #FFF;font-weight: bold;line-height: 24px;white-space: nowrap;}
.fancybox-title-outside-wrap {position: relative;margin-top: 10px;color: #fff;}
.fancybox-title-inside-wrap {margin-top: 10px;}
.fancybox-title-over-wrap {position: absolute;bottom: 0;left: 0;color: #fff;padding: 10px;background: #000;background: rgba(0, 0, 0, .8);}

