* {margin:0; padding: 0}
html, body {font-family: sans-serif, verdana, arial; font-size: 12px; background: #3d3d3f; }
img {border: none}
br, .clearBoth {clear:both;}
a {text-decoration: none}
sup {font-size: 8px}

.corner {border-radius: 3px;}
.shadow {-moz-box-shadow: 0px 1px 5px 0px #4a4a4a; -webkit-box-shadow: 0px 1px 5px 0px #4a4a4a; box-shadow: 0px 1px 5px 0px #4a4a4a;}

h2 {line-height: 43px; font-size: 14px;padding-left: 8px}
.filet_w {background: url(charte/filet_w.jpg) bottom left repeat-x;}
.filet_g {background: url(charte/filet_g.jpg) bottom left repeat-x;}

label {display: inline-block; line-height: 27px;}
input, select, textarea {margin: 0 15px 0 4px;}
select {height: 21px; border: 1px solid #000; background: #fff;}
input[type="text"], input[type="password"] {border: 1px solid #000; height: 19px; width: 250px; padding: 0 3px}
textarea {width: 250px; height: 50px; vertical-align: top; border: 1px solid #000; padding: 0 3px}
.date {width: 90px !important; text-align: center;}
.nb_nuits {width: 40px}
/*
input[type="submit"], .boutton {border: none; border-radius: 3px; height: 27px; color: #fff; padding: 0 4px; background-image: linear-gradient(bottom, rgb(2,145,55) 43%, rgb(63,172,105) 72%); background-image: -o-linear-gradient(bottom, rgb(2,145,55) 43%, rgb(63,172,105) 72%); background-image: -moz-linear-gradient(bottom, rgb(2,145,55) 43%, rgb(63,172,105) 72%); background-image: -webkit-linear-gradient(bottom, rgb(2,145,55) 43%, rgb(63,172,105) 72%); background-image: -ms-linear-gradient(bottom, rgb(2,145,55) 43%, rgb(63,172,105) 72%); -moz-box-shadow: 2px 2px 2px #888; -webkit-box-shadow: 10px 10px 5px #888; box-shadow: 2px 2px 2px #888;}
.boutton {padding: 5px 4px; font-size: 14px; font-family: sans}
input[type="submit"]:hover, .boutton:hover {cursor: pointer; background-image: linear-gradient(bottom, rgb(63,172,105) 43%, rgb(2,145,55) 63%); background-image: -o-linear-gradient(bottom, rgb(63,172,105) 43%, rgb(2,145,55) 63%); background-image: -moz-linear-gradient(bottom, rgb(63,172,105) 43%, rgb(2,145,55) 63%); background-image: -webkit-linear-gradient(bottom, rgb(63,172,105) 43%, rgb(2,145,55) 63%); background-image: -ms-linear-gradient(bottom, rgb(63,172,105) 43%, rgb(2,145,55) 63%);} 
*/

input[type="submit"], .boutton {background: url(charte/bg_button.jpg) 0 0 repeat-x; border: none; height: 27px; line-height: 27px; color: #fff; padding: 0 4px; border-radius: 3px; -moz-box-shadow: 0px 1px 5px 0px #4a4a4a; -webkit-box-shadow: 0px 1px 5px 0px #4a4a4a; box-shadow: 0px 1px 5px 0px #4a4a4a;}
.boutton {padding: 5px 6px; font-size: 14px;}
input[type="submit"]:hover, .boutton:hover {cursor: pointer; background-image: url(charte/bg_button_hover.jpg)}

.focusin {background: #e3fded}

.error {display: inline-block; font-style: italic; color: #ff5575}

.popinfo {position: relative}
.popinfo a.close {display: block; position: absolute; right: 0; width: 18px; height: 18px; background: url(icones/suppr.png) 0 0 no-repeat;}
.popinfo a.close:hover {cursor:pointer}
.popinfo .popinfoContenu {background: #fff; border: 1px solid #ccc; padding: 15px; font-size: 14px; text-align: center}
.popinfo .popinfoContenu a {color: #000}
.popinfo .popinfoContenu span {}
.popinfo .popinfoArrow {height: 8px; background: url('icones/arrow_down.png') top center no-repeat; margin-top: -1px}


/* ====== + 1024px ====== */
#main { background: #a2a2a2 url(charte/bg.jpg) center top repeat-y}

.wrapper {width: 1018px; margin: 0 auto; padding: 20px 0;}

#menu {width: 212px; float: left; min-height: 700px}
#menu h1 a {display: block;}
#menu h1 a span {display: none}
#menu ul {margin-bottom: 16px;}
#menu ul li {display: block; list-style-type: none}
#menu ul li a {display: block; color: #009036; line-height: 54px; padding-left: 64px; font-weight: bold; font-size: 14px; background-image: url(charte/menu-v.png); background-repeat: no-repeat}
#menu ul li a:hover {text-decoration: underline}
#menu ul li a.parking {background-position: 0 -54px;}
#menu ul li a.services {background-position: 0 -108px;}
#menu ul li a.loisirs {background-position: 0 -162px;}
#menu ul li a.seminaire {background-position: 0 -216px;}
#menu ul li a.contact {background-position: 0 -270px;}
#menu .popin {display: inline-block; outline: none}

#content {float: right; width: 770px}

#diapo {width: 770px; height: 450px;}

#reservation {background: #c0e3cd; border-radius: 0 0 3px 3px;}
#reservation #pictos {padding: 6px 0}
#reservation #pictos div {width: 390px; margin: 0 auto}
#reservation #pictos div a {display: inline-block; margin: 0 15px; outline: none}
#reservation #reservez h2 {text-align: center}
#reservation #reservez h2 a {color: #009036; text-decoration: none}
#reservation #reservez h2 a:hover{text-decoration: underline}
#reservation form {display: block; width: 60%; margin: 0 auto; padding: 0 0 15px 0}

.resa_chambre {border: 1px solid #4a4a4a; height: 90px; margin: 12px 0; position: relative; padding: 0 0 0 60px}
.resa_chambre img {margin: 3px 15px 0 0; float: left;}
form h3 {color: #009036; padding: 8px 0; text-align: center}
.resa_chambre h4 {padding-top: 8px}
.resa_chambre p {display: inline-block; width: 340px}
.resa_chambre .prix {float: right; font-weight: bold; margin: 15px 30px 0 0}
.resa_chambre .prix del {font-weight: normal;text-decoration: line-through;}
.resa_chambre.selected {background: #c0e3cd}

.checkbox {width: 19px; height: 25px; padding: 0 5px 0 0; background: url(charte/checkbox.png) no-repeat; display: block; clear: left; float: left; position: absolute; top: 33px; left: 15px;}

.resa_identite {padding: 0 7px 15px 7px; margin-bottom: 30px; background: #fff}
.resa_identite label {min-width: 200px}

#recap {padding: 0 7px 15px 7px; background: #fff}
#recap h3 {margin-bottom: 6px}
#recap ul {margin-left: 20px}
#recap ul li {list-style-type: default; margin: 4px 0}

#boxes {margin-top: 17px}
#boxes .margin {margin-right: 16px}
#boxes .box {width: 180px; float: left}
#boxes .box a {display: block; height: 119px; border: 1px solid #000;}
#boxes .box a img {}
#boxes .box h3 {text-align: center; font-style: italic; color: #009036; padding: 4px 0}
#boxes .box span {font-weight: bold; text-align: center; display: block; margin-bottom: 6px}
#boxes .box p {}

#contact {margin: 20px 0 0 10px}
#contact label {width: 120px}
#contact .submit {margin: 15px 0 0 120px}

.contact_confirm {display: block; font-size: 14px; margin: 0 auto; width: 400px; text-align: justify}
.contact_confirm img {vertical-align: middle}

#foot {border-top: 5px solid #009036; color: #fff; line-height: 40px}
#foot .wrapper {padding: 0;}
#foot .adr {float: left}
#foot .copy {float: right; text-align: right}

