* {margin:0; padding: 0}
html, body {font-family: verdana, arial; font-size: 12px;}
img {border: none}
br, .clearBoth {clear:both;}
li {list-style-type: none}
a {text-decoration: none}

/* ==================== + de 996px ==================== */
#head {height: 389px; background: #e3e9dd}
#head_wrapper {width: 996px; margin: 0 auto}
#logo {height: 63px; width: 410px; background: url(charte/logo.png) center left no-repeat; float: left; margin-left: 5px}
#logo a {display: block; line-height: 63px; height: 63px; width: 100%;}
#logo span {display: none}

#menu {display: block; list-style-type: none; height: 63px; width: 490px; float: right; border: 1px solid blue; margin: 0 7px 30px 0}
#menu li {display: block; float: right; line-height: 63px; padding: 0 8px}

#slide_wrapper {clear: both; width: 100%; height: 370px; margin: 0 auto; box-shadow: 0px 2px 5px #252525; border: 1px solid blue}

#booking {width: 25%; height: 370px; background: green; float: right}

#slider {width: 75%; height: 370px; background: blue; float: left; position: relative}
#diapo_control_layer {position: absolute; bottom: 0; background: #000; opacity: 0.6; width: 100%; z-index: 98}
#slider_controls {position: absolute; bottom: 0; width: 100%; z-index: 99}
#slider_controls a {display: block; float: left; margin-left: 5px}
#slider_controls a img {}


/* ==================== Entre 740px et 996px ==================== */
@media only screen and (max-width : 996px) 
{
	body {border: 1px solid red}
	#head_wrapper {width: 100%}
	
	
}

/* ==================== - de 570px ==================== */
@media only screen and (max-width : 569px) 
{
	#logo {border: 1px solid red}

}
